
.footer {
height: 55px;
width: 100%;
background-color: #0067A3;
margin-bottom: 20px;
display: flex;
align-items: center;
padding: 0 20px;
justify-content: space-between;
box-sizing: border-box;
}

.text {
    color: white;
    font-size: 18px;
}

.task {
    margin-right: 36px;
    display: inline-block;
}